<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display CRUD</title>
  </head>
  <body>
    <style>

        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          font-size: 14px;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        .btn-edit {
            padding: 2px 17px;
            background-color: yellow;
            margin-bottom: 5px;
            text-decoration: none;
            font-weight: 600;
        }
        .btn-delete {
            padding: 2px 5px;
            background-color: red;
            font-weight: 600;

        }
        </style>
        </head>
        <body>
        
        <h2>Table CRUD</h2>
        
        <table>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Role</th>
          </tr>
          <% for(let i=0; i < dataTable.length; i++) { %>
            <tr>
                <td><%= dataTable[i].fullNameUser  %></td>
                <td><%= dataTable[i].emailUser  %></td>
                <td><%= dataTable[i].passwordUser  %></td>
                <td><%= dataTable[i].phoneUser  %></td>
                <td><%= dataTable[i].genderUser  %></td>
                <td><%= dataTable[i].adressUser  %></td>
                <td><%= dataTable[i].idRole  %></td>
                <td>
                    <a href="/edit-crud?id=<%= dataTable[i].id %>" type="button" class="btn-edit">EDIT</a>
                    <a href="/delete-crud?id=<%= dataTable[i].id %>" type="button" class="btn-delete">DELETE</a>
                </td>

            </tr>
            <% } %>
        </table>
          </body>
</html>
