<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User</title>
  </head>
  <body>
    <p>EDIT USER</p>
    <form action="/put-crud" method="POST">
      <input
        value="<%= user.id %>"
        id="Fullname"
        type="text"
        name="id"
        hidden
      />
      <label for="Fullname">
        Fullname
        <input
          value="<%= user.fullNameUser %>"
          id="Fullname"
          type="text"
          name="fullNameUser"
        />
      </label>
      <label for="email">
        Email
        <input
          value="<%= user.emailUser %>"
          id="email"
          type="email"
          name="emailUser"
        />
      </label>
      <label for="Password">
        Password
        <input
          value="<%= user.passwordUser %>"
          id="Password"
          type="password"
          name="passwordUser"
        />
      </label>
      <label for="phone">
        Phone
        <input
          value="<%= user.phoneUser %>"
          id="phone"
          type="number"
          name="phoneUser"
        />
      </label>
      <label for="gender">
        Gender
        <select value="<%= user.genderUser %>" id="gender" name="genderUser">
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select> </label
      ><label for="address">
        Address
        <input
          value="<%= user.adressUser %>"
          id="address"
          type="text"
          name="adressUser"
        />
      </label>
      <label for="role">
        Role
        <select value="<%= user.idRole %>" id="role" name="idRole">
          <option value="1">Admin</option>
          <option value="2">Sale</option>
          <option value="3">Customer</option>
        </select>
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
